.barranav {
	position: relative;
	top: 0px;
	background: #F5F5F5;
}
teiHeader, gen, number, case, per, tns, mood, form.hidden {
     visibility: hidden;
}
.fondo {
	background-color: #FCFCF4;
}

.imgthumbnail {
	width: 100%;
	max-width: 100%;
}
.fondojumbo {
	background-color: #FCFCDE;
	border: solid #606668;
	border-width: thin;
}
.titulojumbo {
	font-size: 27px;
}
.imgjumbo {
	max-width: 115%;
	position: relative;
	top: 62px;
	right: -10px;
	border-radius: 2%;
}
.textcentrado {
	text-align: justify;
}