.barranav {
	position: relative;
	top: 0px;
	background: #F5F5F5;
}
teiHeader, gen, number, case, per, tns, mood, form.hidden {
     visibility: hidden;
}
.fondo {
	background-color: #FCFCF4;
}

.imgthumbnail {
	width: 100%;
	max-width: 100%;
}
.fondojumbo {
	background-color: #FCFCDE;
	border: solid #606668;
	border-width: thin;
}
.titulojumbo {
	font-size: 27px;
}
.imgjumbo {
	max-width: 115%;
	position: relative;
	top: 62px;
	right: -10px;
	border-radius: 2%;
}
.textcentrado {
	text-align: justify;
}
.enlacefoto {
 	font-size: 10px;
 	position: relative;
 	left: 3%;
 }
 /* .enlacefoto1 {
 	font-size: 9px;
 	position: relative;
 	left: 4%;
 }
 .enlacefoto2 {
 	font-size: 10px;
 	position: relative;
 	left: 6%; 
 }
 .enlacefoto3  {
	font-size: 10.5px;
	padding-left: 30%;
}*/
span:hover {
    color: #900C3F;
}
.linkdicc {
	color: black;
	text-decoration: none;
}
a:hover {
    color: #900C3F;
}
.link{
    color: #900C3F;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}